.categories-wrapper {
    background-color: #f0f0f0;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.categories-container {
    display: flex;
    margin-left: 17%;
    margin-right: 17%;
    margin-top: 5%;
    max-width: $maxWidthContainer + px;
    flex-direction: column;

    & a {
        font-family: "LatoBold";
        font-size: 18px;
        align-self: center;
        margin-top: 6%;
        margin-bottom: 6%;
    }
}

.categories-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin-bottom: 7%;

    & li {
        
        &:nth-child(1) {
            font-family: "LatoLight";
            font-size: 72px;
        }

        &:nth-child(2) {
            font-family: "LatoRegular";
            font-size: 18px;
            color: #c1c1c1;
            align-self: center;
            position: relative;
            top: -20px;
        }

        &:nth-child(2)::after {
            content: url(..//img/icon/header/living-room.png);
            margin-left: 36px;
            position: relative;
            top: 20px;
        }
    }
}
.categories-content {
    display: flex;
    flex-direction: column;
    width: 100%;

    &-row {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: 4%;
        height: 420px;
    }
}

.categories-content-item {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 15px 15px;
    margin-left: 7px;
    margin-bottom: 0;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 20%;

    &:first-child {
        margin-right: 40px;
    }

    &:last-child {
        margin-left: 40px;
    }

    &__name {
        font-family: "LatoLight";
        font-size: 30px;
        margin-bottom: 12px;
    }
    &__comment {
        font-family: "LatoLight";
        font-size: 18px;
        color: #c1c1c1;
        margin-bottom: 19px;
    }
    &__price {
        font-family: "LatoBold";
        font-size: 18px;
        color: #0023ff;
    }

    &__img {
        display: flex;
        align-self: center;
        width: 100%;
        margin: 0 auto;
        padding: 20px 0;
    }
}

.categories-content-big-item {
    display: flex;
    background-color: white;
    padding: 15px 15px;
    flex-shrink: 0;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;

    &--grow-4 {
        flex-grow: 4;
    }

    &--grow-2 {
        flex-grow: 2;
    }

    &__text {
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    &__img {
        height: 100%;

        &--small {
            height: auto;
            width: 300px;
        }

        &--big {
            margin-right: 40px;
        }
    }
}

.big-item-text {
    &__name {
        font-family: "LatoLight";
        font-size: 30px;
        margin-bottom: 12px;
    }
    &__comment {
        font-family: "LatoLight";
        font-size: 18px;
        color: #c1c1c1;
        margin-bottom: 19px;
    }
    &__price {
        font-family: "LatoBold";
        font-size: 18px;
        color: #0023ff;
    }
}



