@font-face {
    font-family: "AkzidenzGrotesk";
    src : url("../fonts/AkzidenzGroteskBQ-BdCnd.woff");
}
@font-face {
    font-family: "LatoRegular";
    src : url("../fonts/Lato-Regular.woff");
}
@font-face {
    font-family: "LatoThin";
    src : url("../fonts/Lato-Thin.woff");
}
@font-face {
    font-family: "LatoBlack";
    src : url("../fonts/Lato-Black.woff");
}
@font-face {
    font-family: "LatoBold";
    src : url("../fonts/Lato-Bold.woff");
}
@font-face {
    font-family: "LatoLight";
    src : url("../fonts/Lato-Light.woff");
}