<div class="container">
    <div class="container__burger unselectable">
        <div class="container__burger-icon">
            <span></span>
        </div>
    </div>
    <nav class="container__menu">
        <ul class="container__list">
            <li>
                <a href="/categories.html" class="container__link">LIVING ROOM</a>
            </li>
            <li>
                <a href="" class="container__link">OFFICE</a>
            </li>
            <li>
                <a href="" class="container__link">FOR KIDS</a>
            </li>
            <li>
                <a href="" class="container__link">KITCHEN</a>
            </li>
            <li>
                <a href="" class="container__link">ACCESORIES</a>
            </li>
        </ul>
    </nav>
</div>