<div class="categories-container">
    <ul class="categories-header">
        <li>PRODUCTS</li>
        <li>LIVING ROOM</li>
    </ul>
    <div class="categories-content">
        <div class="categories-content-row">
            <div class="categories-content-item">
                <img class="categories-content-item__img" src="..//img/icon/header/seat.png" alt="">
                <div class="categories-content-item__name">RED SEAT</div>
                <div class="categories-content-item__comment">Lorem ipsum dolor sit amet</div>
                <div class="categories-content-item__price">$45</div>
            </div>
            <div class="categories-content-big-item categories-content-big-item--grow-4">    
                <img class="categories-content-big-item__img--big" src="..//img/icon/header/tabble.png" alt="">
                <div class="categories-content-big-item__text big-item-text">
                    <div class="big-item-text__name">WHITE TALBE</div>
                    <div class="big-item-text__comment">Lorem ipsum dolor sit amet</div>
                    <div class="big-item-text__price">$350</div>
                </div>
            </div>
        </div>
        <div class="categories-content-row">
            <div class="categories-content-item">
                <img class="categories-content-item__img" src="..//img/icon/header/egg.png" alt="">
                <div class="categories-content-item__name">BLUE SEAT</div>
                <div class="categories-content-item__comment">Lorem ipsum dolor sit amet</div>
                <div class="categories-content-item__price">$35</div>
            </div>
            <div class="categories-content-big-item categories-content-big-item--grow-2">
                <img class="categories-content-big-item__img--small" src="..//img/icon/header/bed.png" alt="">
                <div class="categories-content-big-item__text big-item-text">
                    <div class="big-item-text__name">MODERN BED</div>
                    <div class="big-item-text__comment">Lorem ipsum dolor sit amet</div>
                    <div class="big-item-text__price">$120</div>
                </div>
            </div>
            <div class="categories-content-item">
                <img class="categories-content-item__img" src="..//img/icon/header/chair.png" alt="">
                <div class="categories-content-item__name">DARK SEAT</div>
                <div class="categories-content-item__comment">Lorem ipsum dolor sit amet</div>
                <div class="categories-content-item__price">$50</div>
            </div>
        </div>
    </div>
    <a href="">SHOW MORE PRODUCTS</a>
</div>