<header class="header">
    <div class="container">
        <h1 class="unselectable ">OLIOS</h1>
        <h2 class="unselectable">NEWEST FURNITURE SHOP TEMPLATE</h2>
        <div class="header__view-button-wrap">
            <a href="" class="header__view-button ">VIEW MORE</a>
        </div>
        <div class="header__bg-text">
            <h3 class="unselectable">NEWEST</h3>
        </div>
        <div class="header__burger unselectable">
            <div class="header__burger-icon">
                <span></span>
            </div>
        </div>
        <nav class="header__menu">
            <ul class="header__list">
                <li>
                    <a href="" class="header__link">LIVING ROOM</a>
                </li>
                <li>
                    <a href="" class="header__link">OFFICE</a>
                </li>
                <li>
                    <a href="" class="header__link">FOR KIDS</a>
                </li>
                <li>
                    <a href="" class="header__link">KITCHEN</a>
                </li>
                <li>
                    <a href="" class="header__link">ACCESORIES</a>
                </li>
            </ul>
        </nav>
        <div class="header__left-column">
            <ul class="header__left-column-icon">
                <li><a href=""><img src="img//icon/header/logo.jpg" alt="logo"></a></li>
                <li><a href=""><img src="img//icon/header/home.jpg" alt="home"></a></li>
                <li><a href=""><img src="img//icon/header/basket.jpg" alt="basket"></a></li>
                <li><a href=""><img src="img//icon/header/search.jpg" alt="search"></a></li>
                <li><a href=""><img src="img//icon/header/in.jpg" alt="in"></a></li>
            </ul>
        </div>
        <div class="header__bg-button">
            <input type="radio" name="bg-switcher" value="1" checked>
            <input type="radio" name="bg-switcher" value="2">
            <input type="radio" name="bg-switcher" value="3">
            <input type="radio" name="bg-switcher" value="4">
        </div>
    </div>
</header>