<div class="container">
    <div class="container__left-column">
        <ul class="container__left-column-icon">
            <li><a href=""><img src="img//icon/header/logo.jpg" alt="logo"></a></li>
            <li><a href=""><img src="img//icon/header/home.jpg" alt="home"></a></li>
            <li><a href=""><img src="img//icon/header/basket.jpg" alt="basket"></a></li>
            <li><a href=""><img src="img//icon/header/search.jpg" alt="search"></a></li>
            <li><a href=""><img src="img//icon/header/in.jpg" alt="in"></a></li>
        </ul>
    </div>
</div>