<div class="container">
    <h1 class="unselectable ">OLIOS</h1>
    <h2 class="unselectable">NEWEST FURNITURE SHOP TEMPLATE</h2>
    <div class="container__view-button-wrap">
        <a href="" class="container__view-button ">VIEW MORE</a>
    </div>
    <div class="container__bg-text">
        <h3 class="unselectable">NEWEST</h3>
    </div>
    <div class="container__bg-button">
        <input type="radio" name="bg-switcher" value="1" checked>
        <input type="radio" name="bg-switcher" value="2">
        <input type="radio" name="bg-switcher" value="3">
        <input type="radio" name="bg-switcher" value="4">
    </div>
</div>