<div class="product-container">
    <div class="product-container__left-column">
        <a href=""><div class="like_active"></div></a>
        <div><img src="..//img/icon/header/white-seat.png" alt="white-seat"></div>
        <div class="buttons-wrapper">   
            <div class="add-remove-buttons">
                <a href=""><img src="..//img/icon/header/add.png" alt="add"></a>
                <a href=""><img src="..//img/icon/header/remove.png" alt="remove"></a>
            </div>
            <div class="search-buttons">
                <a href=""><img src="..//img/icon/header/pin.png" alt="pin"></a>
                <a href=""><img src="..//img/icon/header/search.jpg" alt="search"></a>
            </div>
        </div>
    </div>
    <div class="product-container__right-column right-column-container">
            <div class="right-column-container__header">
                <div>PRODUCTS</div>
                <div>LIVING ROOM</div>
            </div>
            <div class="right-column-container__content">
                <div><a href="">WHITE SEAT </a> - OFFICE</div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br> 
                    Ut fermentum interdum malesuada. Sed ornare posuere lobortis. </div>
            </div>
            <div class="right-column-container-order">    
                <div class="right-column-container-order__cost">
                    <div class="right-column-container-order__cost-header"> Cost</div>
                    <div class="right-column-container-order__cost-wrap">    
                        <div class="price">$65</div>
                        <div class="old-price">$90</div>
                    </div>
                </div>
                <div class="right-column-container-order__quantity"> 
                    <div class="right-column-container-order__quantity-header">QUANTITY</div>
                    <input type="text" value="1">
                </div>
                <button>ADD TO CARD</button>
            </div>
        <div class="right-column-container__row">
            <div class="right-column-container__row-header">RECOMENDED</div>
            <div class="right-column-container__row-item">
                <div class="right-column-container__row-item-img-1"></div>
                <div class="right-column-container__row-item-name">DARK SEAT</div>
                <div class="right-column-container__row-item-content">Lorem ipsum dolor sit amet</div>
            </div>
            <div class="right-column-container__row-item">
                <div class="right-column-container__row-item-img-2"></div>
                <div class="right-column-container__row-item-name">BLUE SEAT</div>
                <div class="right-column-container__row-item-content">Lorem ipsum dolor sit amet</div>

            </div>
            <div class="right-column-container__row-item">
                <div class="right-column-container__row-item-img-3"></div>
                <div class="right-column-container__row-item-name">RED SEAT</div>
                <div class="right-column-container__row-item-content">Lorem ipsum dolor sit amet</div>

            </div>
        </div>
    </div>
</div>