<div class="search-container">
    <input type="search" placeholder="Search" class="search-container__input">
    <div class="search-container__advice">
        <p>Type product that you are looking for</p>
    </div>
    <div class="search-container__result result-container"> 
        <div class="result-container__item">
            <img src="img/icon/header/seat.png" alt="red seat">
            <span>RED SEAT</span>

        </div>
        <div class="result-container__item">
            <img src="img/icon/header/chair.png" alt="dark seat">
            <span>DARK SEAT</span>

        </div>
    </div>
    <div class="result-container__text">
        <span>2 Searched result</span>
    </div>
</div>